*{
	box-sizing: border-box;
}

.orange{
	color: orange;
}

@font-face {
    font-family: 'lightfont';
    src: url('font/thelightfont.woff2') format('woff2'),
         url('font/thelightfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novaregular';
    src: url('font/novabold.woff2') format('woff2'),
         url('font/novabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
	font-family: 'impact';
	src: url(font/impact.ttf) format('ttf');
	font-weight: normal;
	font-style: normal: 
}

/*-------------RED---------------------*/

.red{
	width: 190px;
	position: absolute;
	top: 60px;
	right: 0;
}

/*-------------NAVBAR------------------*/
.call{
	width: 90px;
	height: 100px;
	position: fixed;
	top: 120px;
	left:10px;
	padding-bottom:10px;
	z-index: 999999999;
}

.popover{
	width: 135px;
}

.call_img{
	width: auto;
	height: 100%;
	display: block;
}

.container-fluid{
	margin: 0px !important;
}

.navbar-brand{
	width: 100%;
}

.brand{
	width: 300px;
	height: auto;
	margin-top: 10px;
	margin-left: 2vw;
	float: left;
}

.brand_name{
	line-height: 80px;
	margin: 0px auto;
	float: left;
	color: #005fff;
	font-size: 42px;
	font-family: 'impact';
}

.navbar-nav{
	text-align: center;
}

.nav-item{
	padding: 10px;
	font-size: 26px;
	margin-left: 10px;
}

.gradient{
	width: 100%;
	height: 10px;
	background: url(img/pasekgradient.png) 80% 0;
}
/*---------------Content--------------------*/

.main{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
	height: auto;
}

.choice{
	max-width: 100%;
	text-align: center;
	color: #005fff;
}

.choose{

}

.auto{
	height: 150px;
	width: auto;
	padding-bottom: 10px;
}

.tour{
	height: 150px;
	width: auto;
	padding-bottom: 10px;
}

.realestate{
	padding-bottom: 10px;
}

.insurance{
	font-weight: 400;
	font-size: 36px;
}

.submit{
	width: 180px;
	height: 60px;
	margin: 0 auto;
	background-color: #005fff;
	text-align: center;
	color: #fff;
	line-height: 60px;
	font-size: 28px;
}

.site-link{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #fff;
}

.site-link:hover{
	color: #fff;
	text-decoration: none;
}

/*--------------------Slaider--------------*/

.company{
	margin-top: 100px !important;
	width: 100%;
}

.firm{
	max-width: 80%;
	height: auto;
	padding: 0px 0px;
}

/*-------------------QR Section-----------*/

.QR{
	width: 100%;
	height: 550px;
	position: relative;
}

.QR:before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: ' ';
	background: url(img/QRtlo.png) 50% 100% no-repeat;
}

.img-side{
	text-align: center;
	height: 100%;
	display: table;	
}

.d-table-cell{
	vertical-align: middle;
}

.scanQR{
	width: 250px;
	height:auto;
	margin-left: 30%;
}

.opisQR{
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-size: 45px;
	font-family: 'impact';
}

a:hover{
	color: #fff;
	text-decoration: none;
}

.btnQR{
	padding:15px 25px;
	background-color: #005fff;
	margin: 0 auto;
	color: #fff;
	transition: 0.5s;
}

.btnQR:hover{
	background-color: #0041b3;
}


/*-------------------Contact--------------*/

.contact{
	padding:0px !important;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.contact-img{
	display: block;
	float: left;
	position: absolute;
	height: 500px;
	width: auto;
	z-index: -2;
}

.contact-form{
	width: 80%;
	height: 100%;
	float: right;
	color: white; 
	position: relative;
}

.contact-form:before{
	position: absolute;
	top: 0;
	width: 100%;
	content: ' ';
	border-top: 500px solid #005fff;
	border-left: 300px solid transparent;
	z-index: -1;
}


.map{
	position: relative;
	padding-top: 20px;
	text-align: center;
}

.google-map{
	width: 450px;
	height: 280px;
	margin-left: 20%;
	border: 6px solid orange;
	float: left;
}

.h{
	font-size: 23px;
	text-align: left;
	float: left;
	padding-left: 10px;
}

.parking{
	display: block;
	font-size: 23px;
	margin-top: 160px;
}

.info{
	padding-left: 33%;
	font-size: 22px;
}

.second_phone{
	padding-left: 80px;
}


/*--------------Footer--------------------*/

.footer{
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #313131;
	color: #6B6B6B;
}

.creator{
	line-height: 100px;
	margin-bottom: 0;
	font-size: 28px;
}

/* EXTRA LARGE */
@media only screen and (min-width: 1200px) {
.company{
		padding: 0px 0px;
}

.auto{
	height: 150px;
	width: auto;
}

.tour{
	height: 150px;
	width: auto;
}

.realestate{
	height: 150px;
	width: auto;
}
}

/* LARGE */
@media only screen and (min-width: 920px) and (max-width: 1199px) {

	.red{
		margin-top: 30px;
		width: 120px;
	}

	.brand_name{
		text-align: center;
		font-size: 28px;
	}


	.auto{
		height: 130px;
	width: auto;
	}

	.tour{
		height: 130px;
	width: auto;
	}

	.realestate{
		height: 130px;
	width: auto;
	}

	.insurance{
		font-size: 24px;
	}

	.submit{
		width: 160px;
	}

	.site-link{
		font-size: 26px;
	}

	.contact-form{
		width: 90%;
	}

	.map{
		padding-left: 20px;
	}

	.google-map{
		width: 400px;
		height: 280px;
	}

	.info{
		padding-left: 300px;
		font-size: 21px;
	}

	.creator{
		font-size: 21px;
	}

	.h{
		font-size: 19px;
		padding-left: 5px;
	}

	.parking{
		font-size: 16px;
		margin-top: 180px;
	}

	.scanQR{
		width: 200px;
	}

	.opisQR{
		font-size: 34px;
	}
}

/* Medium */
@media only screen and (min-width: 768px) and (max-width: 919px) {
	
	.red{
		width: 120px;
		margin-top: 30px;
	}
	
	.brand{
		width: 280px;
	}

	.brand_name{
		font-size: 24px;
	}

	.gradient{
		background-position: 70% 0;
	}

	.auto{
		height: 100px;
	width: auto;
	}

	.tour{
		height: 100px;
	width: auto;
	}

	.realestate{
		height: 100px;
	width: auto;
	}

	.insurance{
		font-size: 16.5px;
	}

	.submit{
		width: 160px;
		height: 50px;
	}

	.site-link{
		line-height: 50px;

	}

	.contact-form{
		width: 100%;
	}

	.google-map{
		width: 380px;
		height: 250px;
		margin-left:22%;
	}

	.info{
		padding-left: 290px;
		font-size: 25px;
	}

	.second_phone{
		padding-left: 93px;
	}

	.creator{
		font-size: 18px;
	}

	.h{
		font-size: 18px;
		padding-left: 5px;
	}

	.parking{
		font-size: 14px;
	}

	.scanQR{
		width: 200px;

	}

	.opisQR{
		font-size: 28px;
	}
}

/* SMALL */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	
	.brand{
		width: 220px;
	}

	.brand_name{
		font-size: 15px;
		margin: 0px;
	}

	.gradient{
		background-position: 70% 0;
	}

	.red{
		width: 110px;
		margin-top: 10px;
	}

	.auto{
		height: 120px;
	width: auto;
	}

	.tour{
		height: 120px;
	width: auto;
	}

	.realestate{
		height: 120px;
	width: auto;
	}

	.insurance{
		font-size: 18px;
	}

	.submit{
		width: 96px;
		height: 40px;
	}

	.site-link{
		font-size: 16px;
		line-height: 40px;
	}

	.company{
		margin-top: 50px !important;
	}

	.contact-form{
		width: 100%;
	}

	.contact-form:before{
		border-left: 500px solid #005fff;
	}

	.info{
		font-size: 24px;
		padding-left: 80px;
	}

	.second_phone{
		padding-left: 85px;
	}

	.creator{
		font-size: 14px;
	}

	.google-map{
		margin-left: 20px;
		width: 330px;
		height: 260px;
	}

	.h{
		font-size: 22px;
		padding-left: 5px;
	}

	.parking{
		font-size: 17px;
		margin-top: 150px;
	}
	
	.scanQR{
		width: 150px;

	}

	.opisQR{
		font-size: 21px;
	}
}

/* EXTRA SMALL */
@media only screen and (max-width: 575px) {
	.brand{
		margin: 0;
		width: 100%;
	}

	.red{
		width: 110px;
		margin-top: 20px;
	}

	.brand_name{
		display: none;
	}

	.gradient{
		background-position: 70% 0;
	}

	.choose{
		margin-bottom: 30px;
		width: 100%;
	}

	.auto{
		width: 390px;
		height: auto;
	}

	.tour{
		width: 390px;
		height: auto;
	}

	.realestate{
		width: 390px;
		height: auto;
	}
	
	.company{
		margin-top: 40px !important;
	}

	.contact{
		min-height: 660px;
	}

	.contact-form{
		width: 100%;
	}

	.contact-form:before{
		border-left: 500px solid #005fff;
		height: 100%;
	}

	.google-map{
		display: block;
		text-align: center;
		width: 280px;
		height: 250px;
		margin-left: 8vw;
	}

	.info{
		padding-left: 10px;
		font-size: 23px;
	}

	.second_phone{
		padding-left: 85px;
	}

	.creator{
		font-size: 18px;
		line-height: 100%;
		padding-top: 20px;
	}

	.h{

	}

	.parking{
		margin-top:0px;
	}

	.img-side{
		display: none;
	}

	.opisQR{
		font-size: 21px;
	}
	
}