.nav{
	margin: 0px !important;
	z-index: 998;
	background-color: #fff;
	width: 100%;
	padding: 0;
}

.navbar{
	width: 100%;
}

.navbar-brand{
	padding-top: 10px;
}

.brand{
	width: 300px;
	height: auto;
	float: left;
}

.home{
	height: 50px;
	width: auto;
	transition: 0.2s;
}

.home:hover{
	opacity: 0.6;
}

.main{
	background-color: #2B95FF;
	width: 100%;
	text-align: center;
	min-height: 100vh;
	z-index: 999;
	position: relative;
}

.welcome{
	font-size: 52px;
	padding-top: 30px;
	font-weight: 800;
	color: #1538DD;
	line-height: 130%;
	margin-bottom: 50px;
}

.list{
	margin: 0 auto;
	font-size: 52px;
	color: #fff;
	font-weight: 800;
}

.submit{
	width: 400px;
	height: 100px;
	margin: 0 auto;
	background-color: #005fff;
}

.site-link{
	color: #fff;
	line-height: 100px;
}

.site-link:hover{
	color: #fff;
	text-decoration: none;
}

/*-------------FORM-------------------*/

.call{
	width: 90px;
	height: 100px;
	position: fixed;
	top: 170px;
	right:0px;
	padding-bottom:10px;
	z-index: 999999999;
}

.popover{
	width: 135px;
}

.call_img{
	width: auto;
	height: 100%;
	display: block;
}

.error{
	display: block;
	color: red;
	width: 100%;
	text-align: center;
}

.top{
	width: 100px;
	height: 100px;
	background-color: transparent;
	position: fixed;
	bottom: 20px;
	right: 120px;
	transition: 0.2s;
}

.top:hover{
	opacity: 0.7;
}

.n-d{
	display: none;
}

.tac{
	text-align: center;
	width: 100%;
}

.section2{
	width: 100%;
	min-height: 100vh;
	background-color: #005FFF;
	padding: 50px;
	position: absolute;
	top: 105.66px;
	left: 0;
	z-index: 996;
	display: none;
}

.display{
	display: block;
}

.form{
	width: 800px;
	background-color: #fff;
	margin: 0 auto;
	padding: 50px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
}

.btn-input{
	display: none;
}

.zone{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	line-height: 96px;
	transition: 0.5s;
	border-radius: 10px;
}

.zone:hover, .family:hover, .group:hover{
	cursor: pointer;
}

.btn-pol:checked + .zone, .btn-euro:checked + .zone, .btn-world:checked + .zone{
	background-color: #005fff;
	border-color: #005fff;
	color: #fff;
}

.family, .group{
	display: block;
	width: 150px;
	height: 150px;
	border: 2px solid black;
	float: left;
	margin-left: 20%;
	padding-top: 45px;
	transition: 0.5s;
	border-radius: 10px;
}

.family{
	float: right;
	margin: 0px;
	margin-right: 20%;
	padding-top: 53px;
}

.btn-group:checked + .group, .btn-family:checked + .family{
	background-color: #005fff;
	border-color: #005fff;
	color: #fff;
}

.options{
	max-width: 100%;
	padding:20px;
	margin:0px;
}

.type{
	height: 100px;
	margin-bottom: 10px;
	display: table;
}

.type > label{
	display: table-cell;
	width: 75%;
	height: 100%;
	border: 2px solid black;
	vertical-align: middle;
	transition: 0.5s;
	border-radius: 10px;

}

.type > label:hover{
	cursor: pointer;
}

#snow:checked + .snow, #sport:checked + .sport, #disease:checked + .disease, #work:checked + .work, #olimp:checked + .olimp, #war:checked + .war {
	background-color: #005fff;
	border-color: #005fff;
	color: #fff;
}

.send{
	width: 250px;
	height: 70px;
	background-color: #005fff;
	color: #fff;
	font-size: 26px;
	border: none;
	border-radius: 200px;
	display: block;
	margin: 0 auto;
}

.send:hover{
	cursor: pointer;
}

form > input{
	border-color: #005FFF;
	color: #005FFF;
}

.right{
	text-align: right;
	padding: 0px;
	padding-right: 10px;
}

@media only screen and (min-width: 1200px) {
	.list{
		padding: 0px 5vw;
	}

	.name{
		font-size: 24px;
	}

	.zone{
		font-size: 21px;
	}

	.group, .family{
		font-size: 21px;
	}

	.type > label{
		font-size: 18px;
	}
}

@media only screen and (min-width: 920px) and (max-width: 1199px) {
	.welcome{
		font-size: 46px;
	}

	.list{
		font-size: 38px;
		padding: 0px 5vw;
	}

	.submit{
		width: 320px;
		height: 80px;
	}

	.site-link{
		line-height: 80px;
	}

	.three{
		padding-left: 110px;
	}

	.form{
		width: 600px;
		padding:10px;
	}

	.top{
		right:50px;
	}

	.name{
		font-size: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 919px) {
	.welcome{
		font-size: 40px;
	}

	.list{
		font-size: 34px;
		padding: 0px 5vw;
	}

	.three{
		padding-left: 98px;
	}

	.submit{
		width: 300px;
		height: 70px;
	}

	.site-link{
		line-height: 70px;
	}

	.form{
		width: 580px;
		padding:20px;
	}

	.top{
		right: 0px;
	}

	.oc > h1, .ac >h1{
		font-size: 28px;
	}

	.name{
		font-size:18px;
	}

	.call{
		width: 80px;
		height: 75px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.welcome{
		font-size: 34px;
	}

	.list{
		font-size: 26px;
	}

	.three{
		padding-left: 75px;
	}

	.submit{
		width: 250px;
		height: 70px;
	}

	.site-link{
		line-height: 70px;
	}

	.form{
		width: 500px;
		padding: 10px;
	}

	.top{
		width: 80px;
		height: 80px;
		right: 5px;
	}

	.call{
		width: 90px;
		height: 80px;
	}
}

@media only screen and (max-width: 575px) {
	.home{
		height: 35px;
	}

	.welcome{
		font-size: 25px;
	}

	.list{
		font-size: 20px;
	}

	.two, .three{
		padding-left: 0px;
	}

	.submit{
		width: 200px;
		height: 55px;
	}

	.site-link{
		line-height: 55px;
	}

	.section2{
		padding:0px !important;
	}

	.form{
		border-radius: 0px;
		box-shadow: none;
		width: 100%;
		padding:5px;
	}

	.form > h1, form >h1{
		font-size: 28px;
	}

	.oc,.ac{
		width: 60px;
		height: 60px;
		
	}

	.oc >h1, .ac > h1{
		font-size: 21px;
		line-height: 56px;
	}

	form > input, form > select{
		width: 135px;
	}

	.group, .family{
		width: 90px;
		height: 90px;
		padding-top:25px;
		font-size:14px;
	}

	.family{
		padding:0;
		line-height: 86px;
	}

	.call{
		width: 80px;
		height: 60px;
		top:70px;
		left: 0;
		z-index: 999999999;
	}
}