/*
***********************************************
Home Icon made by Freepik from www.flaticon.com 
***********************************************
 */

.left-slide{
	width: 300px;
	height: 150px;
	position: fixed;
	top:25vh;
	left:0px;
	background-color: #fff;
	z-index: 999999999999999;
	padding-right: 10px; 
	transition: 1s;
}

.top-slide{
	position: relative;
	top: 0;
	width: 100%;
}

.arrow{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 31px;
	vertical-align: middle;
	transition: 1s;
}

.arrow:hover{
	cursor: pointer;
}

.hidden{
	left: -255px;
}

.hidden-arrow{
	transform: rotate(180deg);
}

h5{
	margin-top: 40px;
	margin-right: 20px;
	font-size: 18px;
	text-align: center;
}


/*--------------NAV-------------*/

.nav{
	margin: 0px !important;
	z-index: 998;
	background-color: #fff;
	width: 100%;
	padding: 0;
}

.navbar{
	width: 100%;
}

.navbar-brand{
	padding-top: 10px;
}

.brand{
	width: 300px;
	height: auto;
	float: left;
}

.home{
	height: 50px;
	width: auto;
	transition: 0.2s;
}

.home:hover{
	opacity: 0.6;
}

.main{
	background-color: #2B95FF;
	width: 100%;
	text-align: center;
	min-height: 100vh;
	z-index: 999;
	position: relative;
}

.welcome{
	font-size: 52px;
	padding-top: 30px;
	font-weight: 800;
	color: #1538DD;
	line-height: 130%;
	margin-bottom: 50px;
}

.list{
	margin: 0 auto;
	font-size: 52px;
	color: #fff;
	font-weight: 800;
}

.submit{
	width: 400px;
	height: 100px;
	margin: 0 auto;
	background-color: #005fff;
}

.site-link{
	color: #fff;
	line-height: 100px;
}

.site-link:hover{
	color: #fff;
	text-decoration: none;
}

/*-------------FORM-----------------*/

.call{
	width: 90px;
	height: 100px;
	position: fixed;
	top: 170px;
	right:0px;
	padding-bottom:10px;
	z-index: 999999999;
}

.popover{
	width: 135px;
}

.call_img{
	width: auto;
	height: 100%;
	display: block;
}

.error{
	
	color: red;
	display: block;
	text-align: center;
	width: 100%;
}

.top{
	width: 100px;
	height: 100px;
	background-color: transparent;
	position: fixed;
	z-index: 999999999999999999;
	bottom: 20px;
	right: 110px;
	transition: 0.2s;
}

.top:hover{
	opacity: 0.7;
}

.section2{
	width: 100%;
	min-height: calc(100vh - 101.69px);
	background-color: #005FFF;
	padding: 50px;
	position: absolute;
	top: 105.66px;
	left: 0;
	z-index: 996;
	display: none;
}

.n-d{
	display: none;
}

.display{
	transition: 1.5s;
	display: block;
}

.form{
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 50px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
}

.form > h1, form > h1, .n-d > h1 {
	text-align: center;
}

.oc{
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-left: 25%;
	border: 2px solid black;
	transition: 0.5s;
	border-radius: 10px;
}

.ac{
	float: right;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-right: 25%;
	border: 2px solid black;
	margin-bottom: 5px;
	transition: 0.5s;
	border-radius: 10px;
}

.oc >h1, .ac > h1{
	line-height: 96px;
	margin:0;
}

.oc:hover, .ac:hover{
	cursor: pointer;
}

.btn-input{
	position: absolute;
    left: -9999px;
}

.btn-oc:checked + .oc, .btn-ac:checked + .ac{
	border:2px solid #005FFF;
	background-color: #005FFF;
	color: #fff;
}

.send{
	width: 250px;
	height: 70px;
	background-color: #005fff;
	color: #fff;
	font-size: 26px;
	border: none;
	border-radius: 200px;
	display: block;
	margin: 0 auto;
}

.send:hover{
	cursor: pointer;
}

form > input, form > select, .n-d > input, .n-d > select{
	border-color: #005FFF;
	color: #005FFF;
	border-width: 2px;
	border-style: inset;
}

.right{
	text-align: right;
	padding: 0px;
	padding-right: 10px;
}

/*----------QR Site----------*/

.pd{
	padding: 50px 0px;
}

.step{
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	width: 800px;
	min-height: 300px;
	background-color: #fff;
	border-radius: 30px;
	-webkit-box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
	box-shadow: 0px 2px 31px 0px rgba(0,0,0,1);
}

.third{
	margin-bottom: 0px;
	position: relative;
}

.step-img{
	height: auto;
	margin:20px auto;
	border: 5px solid orange;
}

.first-img{
	width: 400px;
}

.second-img{
	width: 250px;
}

.third-img{
	width: 350px;
}

.hs{
	color: #005FFF;
}

.orange{
	color: orange;
}

@media only screen and (min-width: 1200px) {
	.list{
		padding: 0px 5vw;
	}

	.name{
		font-size: 24px;
	}

	.zone{
		font-size: 21px;
	}

	.group, .family{
		font-size: 21px;
	}

	.type > label{
		font-size: 18px;
	}
}

@media only screen and (min-width: 920px) and (max-width: 1199px) {
	.welcome{
		font-size: 46px;
	}

	.list{
		font-size: 38px;
		padding: 0px 5vw;
	}

	.submit{
		width: 320px;
		height: 80px;
	}

	.site-link{
		line-height: 80px;
	}

	.three{
		padding-left: 110px;
	}

	.form{
		width: 600px;
		padding:10px;
	}

	.top{
		right:50px;
	}

	.name{
		font-size: 20px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 919px) {
	.welcome{
		font-size: 40px;
	}

	.list{
		font-size: 34px;
		padding: 0px 5vw;
	}

	.three{
		padding-left: 98px;
	}

	.submit{
		width: 300px;
		height: 70px;
	}

	.site-link{
		line-height: 70px;
	}

	.form{
		width: 580px;
		padding:20px;
	}

	.top{
		right: 0px;
	}

	.oc > h1, .ac >h1{
		font-size: 28px;
	}

	.name{
		font-size:18px;
	}

	.call{
		width: 80px;
		height: 75px;
	}

	.step{
		width: 700px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.welcome{
		font-size: 34px;
	}

	.list{
		font-size: 26px;
	}

	.three{
		padding-left: 75px;
	}

	.submit{
		width: 250px;
		height: 70px;
	}

	.site-link{
		line-height: 70px;
	}

	.form{
		width: 500px;
		padding: 10px;
	}

	.top{
		width: 80px;
		height: 80px;
		right: 5px;
	}

	.call{
		width: 90px;
		height: 80px;
	}

	.step{
		width: 500px;
	}
}

@media only screen and (max-width: 575px) {
	.home{
		height: 35px;
	}

	.welcome{
		font-size: 25px;
	}

	.list{
		font-size: 20px;
	}

	.two, .three{
		padding-left: 0px;
	}

	.submit{
		width: 200px;
		height: 55px;
	}

	.site-link{
		line-height: 55px;
	}

	.section2{
		padding:0px !important;
	}

	.form{
		border-radius: 0px;
		box-shadow: none;
		width: 100%;
		padding:5px;
	}

	.form > h1, form >h1{
		font-size: 28px;
	}

	.oc,.ac{
		width: 60px;
		height: 60px;
		
	}

	.oc >h1, .ac > h1{
		font-size: 21px;
		line-height: 56px;
	}

	form > input, form > select{
		width: 135px;
	}

	.call{
		width: 80px;
		height: 60px;
		top:70px;
		left: 0;
		
	}

	.step{
		width: 300px;
	}

	.hs{
		font-size: 24px;
	}

	.first-img{
		width: 250px;
	}
	
	.second-img{
		width: 150px;
	}

	.third-img{
		width: 250px;
	}
}

