.nav{
	margin: 0px !important;
	z-index: 998;
	background-color: #fff;
	width: 100%;
	padding: 0;
}

.navbar{
	width: 100%;
}

.navbar-brand{
	padding-top: 10px;
}

.brand{
	width: 300px;
	height: auto;
	float: left;
}

.home{
	height: 50px;
	width: auto;
	transition: 0.2s;
}

.home:hover{
	opacity: 0.6;
}

body{
	background-color: #005fff;
}

.main{
	border: 2px solid black;
	border-radius: 30px;
	background-color: #fff;
	padding: 50px;
	margin-top: 50px;
}

p{
	font-size: 22px;
}